{
  "exclude": [
    ".babelrc.js",
    "test"
  ],
  "extension": [
    ".mjs"
  ],
  "require": [
    "@std/esm",
    "@babel/register",
    "@babel/polyfill"
  ],
  "instrument": false,
  "sourceMap": false
}
